header {
  text-align: center;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tab {
  list-style-type: none;
  padding: 0 1rem;
  background-color: lightgrey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab.active {
  background-color: lightblue;
}