{# Import response area macros #}
{% from 'response_area.html' import response_area %}

<link rel="stylesheet" href="{{ consts.THEME_LOCATION }}">

<div class="wrapper">
  <div class="master-statement">
    {{ sheet.master }}
  </div>

  <ul class="tabs-container">
    {% for part in sheet.parts %}
    <li class="tab {{ 'active' if loop.first }}" id="tab{{ loop.index }}">
      <p>{{ part.id }}</p>
    </li>
    {% endfor %}
  </ul>

  <div class="questions-container">
    {% for part in sheet.parts %}
    <div class="question {{ 'active' if loop.first }}" id="question{{ loop.index }}">
      <h1>{{ part.id }}. {{ part.title }}</h1>
      <p>{{ part.statement }}</p>

      {% if part.response %}
      <div class="response-wrapper">
        {{ response_area(part.response, schemas, defaults) }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script src="{{ consts.SCRIPTS_LOCATION }}" type="application/javascript">
  /* Import Custom Javascript Code from the server */
</script>