{% macro questionText(question) %}
<link rel="stylesheet" href="{{ consts.THEME_LOCATION }}">

<div class="wrapper">
  <header>
    <h1>{{ question.number }} {{ question.title }}</h1>
    <p class="master-statement">{{ question.master_statement }}</p>
  </header>

  <ul class="tabs-container">
    {% for part in question.parts %}
    <li class="tab{{ ' active' if loop.first }}" id="tab{{ loop.index }}">
      <p>({{ question.number }}{{ part.id }})</p>
    </li>
    {% endfor %}
  </ul>

  <div class="parts-container">
    {% for part in question.parts %}
    <div class="part{{ ' active' if loop.first }}" id="part{{ loop.index }}">
      <p>{{ part.statement }}</p>

      {% if part.response %}
      <div class="response-wrapper">
        {# Mark location of response area #}
        <{{ part.response }}>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script src="{{ consts.SCRIPTS_LOCATION }}" type="application/javascript">
  /* Import Custom Javascript Code from the server */
</script>{% endmacro %}